

{% extends 'layout.html' %}
{% block style %}

<style>
  * {
    list-style: none;
    text-decoration: none;
    color: #333;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  body{
    position: relative;
  }

  #admin-container {
    max-width: 90%;
  }

  #admin-container .admin-title{
    margin-top: 30px;
    margin-bottom: 50px;
  }

  #admin-container h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
  }

  #admin-container .admin-category {
    display: flex;
    width: 70%;
    background-color: #fff;
    border: 1px solid #333;
  }

  .admin-category .category {
    border: 1px solid #999;
    width: 20%;
    padding: 10px;
  }
  .admin-category .category.active {
    background-color: #222;
  }

  .admin-category .category:hover {
    background-color: #222;
  }

  .admin-category .category:hover a {
    color: #fff;
  }

  .admin-category .category.active a {
    color: #fff;
  }

  .admin-category .category a {
    text-align: center;
    font-size: 20px;
    display: block;
  }
  
  #header{
    width:70%;
  }

  #header .header-profile{
    padding-right: 0;
    margin-right: -30%;
  }

  #header .logout-category{
    margin-right: -50%;
    padding: 20px 0;
  }

  .search{
      display: none;
  }

  .top-category{
      margin-top: -20px;
  }


  #nav{display: none;}
</style>
{% endblock %} 
<body>
  {% block body %}
  <div id="admin-container">
    <h2 class="admin-title">admin</h2>
    <ul class="admin-category">
      <li class="category category1" data-tab="tab-1"><a href="/admin/product">상품등록</a></li>
      <li class="category category2" data-tab="tab-2"><a href="/admin/member">회원관리</a></li>
      <li class="category category3" data-tab="tab-3"><a href="/admin/order">주문내역</a></li>
      <li class="category category4" data-tab="tab-4"><a href="/admin/board">게시판관리</a></li>
      <li class="category category5" data-tab="tab-5"><a href="/admin/store">store관리</a></li>
    </ul>

    {% endblock %}

    {% block script %}

    <script>
      const mypage = document.querySelector('.mypage');
      
      mypage.innerHTML = `<div class="home"><a href="/">홈페이지가기</a></div>`
    </script>
    {% endblock %}
  </div>
</body>
</html>

