{% extends 'admin/admin.html' %} {% block style %}
<style>
  .category2 {
    background-color: #222;
  }

  .category2 a {
    color: #fff;
  }


  #admin-member .user-list {
    width: 70%;
    display: flex;
    border-bottom: 1px solid #333;
    margin-top: 30px;
    justify-content: space-around;
  }

  #admin-member .user-list li {
    padding: 20px 0;
    text-align: center;
  }

  #admin-member .user-list li:first-child {
    width: 5%;
  }

  #admin-member .user-list li:nth-child(2),
  #admin-member .user-list li:nth-child(3),
  #admin-member .user-list li:nth-child(6) {
    width: 10%;
  }

  #admin-member .user-list li:nth-child(4),
  #admin-member .user-list li:nth-child(5) {
    width: 13%;
  }

  #admin-member .user-list li:nth-child(7) {
    width: 30%;
  }

  #admin-member .user-list li:nth-child(8),
  #admin-member .user-list li:nth-child(9) {
    width: 7%;
  }

  #admin-member .btn {
    padding: 3px 7px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #999;
    cursor: pointer;
    transition: .3s;
  }

  #admin-member .btn:hover {
    background-color: #666;
    color: #fff;
  }

  #admin-member .member-modify {
    margin-right: 7px;
  }

  .m-popup {
    position: absolute;
    width: 80%;
    height: 800px;
    background-color: #fff;
    border: 1px solid #777;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
  }

  .m-popup h5 {
    margin-top: 50px;
    font-size: 30px;
  }

  .m-popup table tr,
  td {
    border: 1px solid #999;
  }

  .user-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  td {
    padding: 10px;
  }

  .td-name {
    background-color: rgba(0, 0, 0, 0.1);
  }
</style>
{% endblock %} {% block body %}

<div class="m-popup">
  <h5>회원정보</h5>
  <table class="user-table">
    <tbody>
      <tr>
        <td class="td-name">이름</td>
        <td class="user-name">{{u.u_name}}</td>
        <td class="td-name">아이디</td>
        <td class="user-id">{{u.u_id}}</td>
      </tr>
      <tr>
        <td class="td-name">전화번호</td>
        <td class="user-tel">{{u.u_tel}}</td>
        <td class="td-name">이메일</td>
        <td class="user-email">{{u.u_email}}</td>
      </tr>
      <tr>
        <td class="td-name">회원등급</td>
        <td class="user-grade">{{u.u_grade}}</td>
        <td class="td-name">가입날짜</td>
        <td class="user-date">{{u.u_reg_dt}}</td>
      </tr>
    </tbody>
  </table>

  <h5>주문정보</h5>
  <ul>
    <li></li>
  </ul>

  <button class="pclose-btn">닫기</button>

</div>

<h2>회원관리</h2>

<!-- {% for u in list %}
<div id="admin-member">
  <div>
      <ul data-user-id="{{u.u_no}}" class="user-list">
        <li>{{u.u_no}}</li>
        <li>{{u.u_id}}</li>
        <li>{{u.u_name}}</li>
        <li>{{u.u_reg_dt}}</li>
        <li><button class="btn member-des"  data-id="{{u.u_no}}">회원정보</button></li>
        <li><button class="btn member-modify">수정</button><button class="btn member-delete">삭제</button></li>
      </ul>
    </a>
  </div>
</div>

{% endfor %}  -->

<table>
  <thead>
    <tr>
      <th>게시글번호</th>
      <th>게시판타입</th>
      <th>유저아이디</th>
      <th>제목</th>
      <th>작성시간</th>
      <th>조회수</th>
      <th>수정</th>
      <th>삭제</th>
    </tr>
  </thead>
  <tbody class="userList">
  </tbody>
</table>
<ul class="pageContent"></ul>

{% endblock %} {% block script %}
<script>
  // $('.member-des').click(function(e){
  //   $('.m-popup').fadeIn();
  //   const userOne = axios.get("/admin/memberDetail/"+e.target.dataset.id)
  //   .then((res)=>{
  //     if(res.status === 200){
  //       console.log("userone---->", res.data.userdetailorder);
  //       // $('.user-name').html(res.data.userdetail.u_name)
  //       // $('.user-id').html(res.data.userdetail.u_id)
  //       // $('.user-tel').html(res.data.userdetail.u_tel)
  //       // $('.user-email').html(res.data.userdetail.u_email)
  //       // $('.user-grade').html(res.data.userdetail.u_grade)
  //       // $('.user-date').html(res.data.userdetail.u_reg_dt)

  //       console.log("userOrder---->", res.data.userdetailorder.p_name);
  //     }

  //   }).catch((error)=>{
  //     console.error(error);
  //   })
  // })

  // $('.pclose-btn').click(function(){
  //   $('.m-popup').fadeOut();
  // })

  // $('.member-delete').click(function(){
  //   // console.log('memberhtml ----------------------', u.u_id)
  //   axios.post('/admin/member/delete',
  //     ).then((res) =>{
  //       console.log(res)
  //     }).catch((error)=>{
  //     console.error(error);
  //   })
  // })

  const list = document.querySelector('.userList'); // 리스트를 담기 위해 불러옴
  const pageContent = document.querySelector('.pageContent'); // 페이지네비게이션 부분
  function listRender(page) { // 리스트를 출력하기 위한 function
    list.innerHTML = '';
    const currentPage = (page ? page : 1);
    return axios
      .get(`/admin/member/?page=${currentPage}`) // 실행부분
      .then((response) => { // 성공했을시 수행됨
        console.log('result : ', response.data);
        pageContent.innerHTML = '';
        for (let users of response.data.users.rows) {
          console.log('회원번호 : ', users.b_no);
          const member_con = document.createElement('tr');
          member_con.className = 'member-con';
          member_con.innerHTML = `<td>${users.u_no}</td>
                                         <td>${users.u_no}</td>
                                         <td>${users.u_id}</td>
                                         <td>${users.u_title}</td>
                                         <td>${users.u_reg_dt}</td>
                                         <td>${users.u_cnt}</td>
                                         <td><button>수정</button></td>
                                         <td><button onclick="deleteMember(${users.u_no})">삭제</button></td>`;
          list.append(member_con);
        }
        pageNavigation(response.data);
      })
      .catch((err) => { // 실패했을시 수행됨
        pageContent.innerHTML = '검색결과가 없어요';
        console.error(err);
      })
  }

  function pageNavigation(response) {
    const currentPage = Number(response.currentPage);
    const num = response.num;
    console.log('페이지네이션 확인 :', num);
    if (response.num[0] > 10) {
      const prev = document.createElement('li');
      prev.setAttribute('data-page', `${(response.checkNum-9)}`);
      prev.className = 'page';
      prev.innerHTML = 'prev';
      pageContent.append(prev);
    }
    for (let no of num) {
      const pageNav = document.createElement('li');
      pageNav.setAttribute('data-page', `${no}`);
      pageNav.setAttribute('onclick', `listRender(${no})`);
      pageNav.className = 'page';
      pageNav.innerHTML = `${Number(no)}`;
      pageContent.append(pageNav);
    }
    if ((currentPage + 10 < response.board.count) && (num.length == 10)) {
      const next = document.createElement('li');
      next.setAttribute('data-page', `${(response.checkNum+11)}`);
      next.className = 'page';
      next.innerHTML = 'prev';
      pageContent.append(next);
    }
  }

  function deleteBoard(b_no) {
    //b_no를 받아서
    console.log('삭제버튼 클릭');
    // console.log(this);
    console.log('삭제 대상 : ', b_no);
    axios.post('/admin/board/delete', {
        b_no
      })
      .then((response) => {
        console.log('성공');
        console.log(response.data);
        listRender();
      })
      .catch((err) => {
        console.log('실패');
        console.log(err);
        listRender();
      })
  }
  listRender();
</script>
{% endblock %}