{% extends 'admin/admin.html' %} {% block style %}
<style>

  .category2 {
    background-color: #222;
  }
  .category2 a {
    color: #fff;
  }


  #admin-member .user-list{
    width: 70%;
    display: flex;
    border-bottom: 1px solid #333;
    margin-top: 30px;
    justify-content: space-around;
  }

  #admin-member .user-list li{
    padding: 20px 0;
    text-align: center;
  }

  #admin-member .user-list li:first-child{
    width: 5%;
  }

  #admin-member .user-list li:nth-child(2),
  #admin-member .user-list li:nth-child(3),
  #admin-member .user-list li:nth-child(6){
    width: 10%;
  }

  #admin-member .user-list li:nth-child(4),
  #admin-member .user-list li:nth-child(5){
    width: 13%;
  }
  
  #admin-member .user-list li:nth-child(7){
    width: 30%;
  }

  #admin-member .user-list li:nth-child(8),
  #admin-member .user-list li:nth-child(9){
    width: 7%;
  }
  
  #admin-member .btn{
    padding: 3px 7px;
    font-size: 14px; 
    background-color: #fff;
    border: 1px solid #999;
    cursor: pointer;
    transition: .3s;
  }

  #admin-member .btn:hover{
    background-color: #666;
    color: #fff;
  }

  #admin-member .member-modify{
    margin-right: 7px;
  }

  .m-popup{
    position: absolute;
    width: 80%;
    height: 800px;
    background-color: #fff;
    border: 1px solid #777;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: none;
  }

  .m-popup h5{
    margin-top: 50px;
    font-size: 30px;
  }

  .m-popup table tr,td{
    border: 1px solid #999;
  }

  .user-table{
    width: 80%;
    border-collapse: collapse; 
    margin-top: 20px;
  }

  td{
    padding: 10px;
  }

  .td-name{
    background-color: rgba(0, 0, 0, 0.1);
  }
  


</style>
{% endblock %} {% block body %}

<div class="m-popup">
  <h5>회원정보</h5>
  <table class="user-table">
    <tbody>
      <tr>
        <td class="td-name">이름</td>
        <td class="user-name">{{u.u_name}}</td>
        <td class="td-name">아이디</td>
        <td class="user-id">{{u.u_id}}</td>
      </tr>
      <tr>
        <td class="td-name">전화번호</td>
        <td class="user-tel">{{u.u_tel}}</td>
        <td class="td-name">이메일</td>
        <td class="user-email">{{u.u_email}}</td>
      </tr>
      <tr>
        <td class="td-name">회원등급</td>
        <td class="user-grade">{{u.u_grade}}</td>
        <td class="td-name">가입날짜</td>
        <td class="user-date">{{u.u_reg_dt}}</td>
      </tr>
    </tbody>
    </table>

    <h5>주문정보</h5>
    <ul>
      <li></li>
    </ul>

    <button class="pclose-btn">닫기</button>

</div>

<h2>회원관리</h2>

{% for u in list %}
<div id="admin-member">
  <div>
      <ul data-user-id="{{u.u_no}}" class="user-list">
        <li>{{u.u_no}}</li>
        <li>{{u.u_id}}</li>
        <li>{{u.u_name}}</li>
        <li>{{u.u_reg_dt}}</li>
        <li><button class="btn member-des"  data-id="{{u.u_no}}">회원정보</button></li>
        <li><button class="btn member-modify">수정</button><button class="btn member-delete">삭제</button></li>
      </ul>
    </a>
  </div>
</div>

{% endfor %}  {% endblock %} {% block script %} 
<script>
  $('.member-des').click(function(e){
    $('.m-popup').fadeIn();
    const userOne = axios.get("/admin/memberDetail/"+e.target.dataset.id)
    .then((res)=>{
      if(res.status === 200){
        console.log("userone---->", res.data.userdetailorder);
        // $('.user-name').html(res.data.userdetail.u_name)
        // $('.user-id').html(res.data.userdetail.u_id)
        // $('.user-tel').html(res.data.userdetail.u_tel)
        // $('.user-email').html(res.data.userdetail.u_email)
        // $('.user-grade').html(res.data.userdetail.u_grade)
        // $('.user-date').html(res.data.userdetail.u_reg_dt)

        console.log("userOrder---->", res.data.userdetailorder.p_name);
      }



    }).catch((error)=>{
      console.error(error);
    })


  })

  $('.pclose-btn').click(function(){
    $('.m-popup').fadeOut();
  })
</script>
{% endblock %}
