{% extends 'admin/admin.html' %}
{% block style %}
<style>
  .category3 {
    background-color: #222;
  }
  .category3 a {
    color: #fff;
  }
</style>
{% endblock %}
{% block body %}
<h2>주문내역</h2>
<table>
    <thead>
    <tr>
        <th>주문번호</th>
        <th>유저아이디</th>
        <th>제품명</th>
        <th>주문시간</th>
        <th>픽업시간</th>
        <th>갯수</th>
    </tr>
    </thead>
    <tbody class="orderList">
    {% for order in orders.rows %}
    <tr>
        <td>{{order.o_no}}</td>
        <td>{{order.u_id}}</td>
        <td>{{order.p_no_product.p_name}}</td>
        <td>{{order.o_reg_dt | date('YYYY-MM-DD') }}</td>
        <td>{{order.o_pickup_dt | date('YYYY-MM-DD')}}</td>
        <td>{{order.o_cnt}}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class='orderPage'></tfoot>
</table>
{% endblock %}
{% block script%}
<script>
    const orderList = document.querySelector('.orderList');
    const orderPage = document.querySelector('.orderPage');
    function listRender(){

    }
    function listPagination(){

    }
</script>
{% endblock %}