{% extends 'layout.html' %} {% block body %}
  <form>
    <p><label>가게이름 : </label><input name="s_name" maxlength="20"></p>
    <p>
      <label>지역 : </label>
      <select name="r_no">

      </select>
    </p>
    <p><label>가게 설명 : </label><textarea cols="50" rows="5" name="s_desc"></textarea></p>
    <p><label>가게 주소 : </label><input name="s_addr"></p>
    <p>
      <label>가게 번호 : </label>
      <input name="s_tel" type="number" maxlength="3">
      -
      <input name="s_tel" type="number" maxlength="4">
      -
      <input name="s_tel" type="number" maxlength="4">
    </p>
    <p><label>가게 이미지 : </label><input name=""></p>
    <p><button type="submit">전송</button></p>
  </form>
{% endblock %}