{% extends 'layout.html' %}
{% block style %}
{% endblock %}
{% block body %}
<h1>가게 상세정보</h1>
<div>
    <div>{{stores.s_name}}</div>
    <div><img src="#" alt="가게 이미지"></div>
    <div>
        <form method="post" action="/order/add">
            <div>
                {% for p in products %}
                <div>
                    <input type="hidden" value="{{p.p_no}}" name="p_no">
                    <p>{{p.p_name}}</p>
                    <p><img src="{{p.p_img}}" alt="메뉴 이미지"></p>
                    <p>
                        <span class="p_price">{{p.p_price}}</span>원
                        <input type="number" max="100" min="0" class="productCnt" name="o_cnt">
                    </p>
                    <p><label>총 금액 : </label><input class="p_result" type="number" readonly></p>
                </div>
                <hr>
                {% endfor %}
            </div>
            <div>
                <div>
                    픽업 가능 날짜
                    <select name="o_pickup_dt">
                        <option value="1"> + 1일</option>
                        <option value="2"> + 2일</option>
                        <option value="3"> + 3일</option>
                        <option value="4"> + 4일</option>
                        <option value="5"> + 5일</option>
                        <option value="6"> + 6일</option>
                        <option value="7"> + 7일</option>
                    </select>
                </div>
                <div>
                    <label>총 금액 : </label>
                    <input type="number" id="totalSum">
                </div>
                <div><button type="submit">예약</button></div>
            </div>
        </form>
    </div>
</div>
<script>
    const p_cnt = document.querySelectorAll('.productCnt');
    p_cnt.forEach((target) => {
        target.addEventListener('change', function () {
            const price = this.previousSibling.previousSibling.textContent;
            const result = this.parentNode.nextSibling.nextSibling.firstChild.nextSibling;
            result.value = Number(this.value * price);
            const priceArr = document.querySelectorAll('.p_result');
            let sum = 0;
            for (let p of priceArr) {
                sum += Number(p.value);
            }
            const resultSum = document.querySelector('#totalSum');
            resultSum.value = sum;
        })
    })
</script>
{% endblock %}