{% extends 'layout.html' %}
{% block body %}
<div id="store">
    <h4>지역선택</h4>
<ul class="region-list">
{% for region in regions %}
<li class="region" data-id="{{region.r_no}}">{{region.r_name}}</li>
{% endfor %}
</ul>
<div id="regionStore"></div>
</div>
<!--<div id="map" style="width:400px;height:350px;"></div>-->
{% endblock %}
{% block script %}
<script>
    const regions = document.querySelectorAll('.region');
    const regionStore = document.querySelector('#regionStore');
    regions.forEach((region) => {
        region.addEventListener('click', function () {
            const r_no = this.dataset.id;
            try {
                axios.post(`/store`, {r_no: r_no})
                    .then((result) => {
                        regionStore.innerHTML = '';
                        const regionName = document.createElement('h5');
                        regionName.innerHTML = this.textContent;
                        regionStore.append(regionName);
                        for (let item of result.data.stores) {
                            const store = document.createElement('div');
                            store.className = 'store'
                            store.innerHTML = `<a href="/store/detail/${item.s_no}">
                                                    <p><img src="${item.s_img}" alt="${item.s_name}의 이미지"></p>
                                                    <p>${item.s_name}</p><p>${item.s_desc}</p>
                                                    <p>${item.s_addr}</p><p>${item.s_tel}</p>
                                               </a>`;
                            regionStore.append(store);
                        }
                        ;
                    });
            } catch (e) {
                console.error(e);
            }
        })
    })
</script>
{% endblock %}