{% extends 'layout.html' %}

{% block body %}
  <!-- <h1>{{title}}</h1> -->
  


   <!-- slide -->
   <div id="slide">
        slide
   </div>
   <!-- //slide -->

   <!-- content -->
   <div id="content">
            <h3 class="best-title">오늘의 BEST 빵집!</h3>
        <!--best-->
        <div class="best">
            <div class="best-bread"><a href=""><img src="./img/빵집1" alt="">빵집1</a></div>
            <div class="best-bread"><a href=""><img src="./img/빵집1" alt="">빵집1</a></div>

          
           <div class="best-bread"><a href=""><img src="./img/빵집1" alt="">빵집1</a></div>
            <div class="best-bread"><a href=""><img src="./img/빵집1" alt="">빵집1</a></div>
            <div class="best-bread"><a href=""><img src="./img/빵집1" alt="">빵집1</a></div>
            <div class="best-bread"><a href=""><img src="./img/빵집1" alt="">빵집1</a></div>
            <div class="best-bread"><a href=""><img src="./img/빵집1" alt="">빵집1</a></div>
            <div class="best-bread"><a href=""><img src="./img/빵집1" alt="">빵집1</a></div>
        </div>
        <!-- //best-->
        
        <h3 class="review-title">빵수니브레두<br>REVIEW</h3>
        <div class="review">
            <div class="reiview-con"><a href="#"><img src="" alt=""></a></div>
            <div class="reiview-con"><a href="#"><img src="" alt=""></a></div>
            <div class="reiview-con"><a href="#"><img src="" alt=""></a></div>
            <div class="reiview-con"><a href="#"><img src="" alt=""></a></div>
            <div class="reiview-con"><a href="#"><img src="" alt=""></a></div>
            <div class="reiview-con"><a href="#"><img src="" alt=""></a></div>
        </div>
   </div>
   <!-- //content -->

  
</div>



{% endblock %}
