<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>

    <link rel = "shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">


    <!-- css 연결 -->
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/layout.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/board.css"/>
    <link rel="stylesheet" href="/stylesheets/mypage.css"/>
    {% block style %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="main-container">
    <!-- header -->
    <header id="header">
        <!-- <div class="search">
            <p>검색창</p>
            <input type="text" class="search-form"/>
        </div> -->
        <div class="logo">

            <a href="/"><img src="" alt=""/>빵순이BREADO</a>
        </div>

        <div class="top_container">
            <!-- <p>user => {{user.u_id}}</p> -->
            {% if user and user.u_id %}
        <div class="logout">
            <div class="header-profile">환영합니다!<br><span>{{ user.u_id +  '님'}}</span></div>
            <ul class="logout-category">
                <li><a href="/logout">로그아웃</a></li>
                <li><a href="/users/mypage">마이페이지</a></li>
            </ul>
        </div>
        {% else %}

        <div class="top-category">
            <ul>
                <li><a href="/login">로그인</a></li>
                <li><a href="/join">회원가입</a></li>
                <!-- <li><a href="#">관리자로그인</a></li> -->
            </ul>
        </div>
            {% endif %}
        </div>

    </header>
    <!-- //header -->

    <ul id="nav">
        <li><a href="/store">전국빵집</a></li>
        <li><a href="/order/myPage">예약조회</a></li>
        <li><a href="/board">QNA</a></li>
        <li><a href="/notice">공지사항</a></li>
    </ul>

    {% block body %}{% endblock %}
    <!-- footer -->
</div>
<footer id="footer">footer</footer>

</div>
<script>

</script>

{% block script %}{% endblock %}
</body>
</html>


