{% extends 'layout.html' %} {% block body %}

<div>회원정보수정</div>
<form action="/mypage/update" method="post">
  <ul class="mypage-list">
    <li>이름 :{{user.u_name}}</li>
    <li>비밀번호 :<input type="password" placeholder="****" name="u_pwd" /></li>
    <!-- <li>비밀번호 확인 :<input type="password" placeholder="****" name="u_pwd" /></li> -->
    <li>이메일 :<input type="email" value="{{user.u_email}}" name="u_email" /></li>
    <li>전화번호 :<input type="text" value="{{user.u_tel}}" name="u_tel" /></li>
  </ul>
  <button type="submit" class="user-update-btn">수정하기</button>
</form>
{% endblock %}
