{% extends 'layout.html' %} {% block body %}

<div>회원정보수정</div>

<form action="/mypageUpdate" method="post">
  <ul class="mypage-list">
    <li>이름 :{{user.u_id}}</li>
    <li>비밀번호 :<input type="password" placeholder="*****" /></li>
    <li>비밀번호 확인 :<input type="password" placeholder="*****" /></li>
    <li>이메일 :<input type="email" placeholder="{{user.u_email}}" /></li>
    <li>전화번호 :<input type="text" placeholder="{{user.u_tel}}" /></li>
  </ul>
  <button type="submit">수정하기</button>
</form>
{% endblock %}
