{% extends 'layout.html' %}
{% block style %}
{% endblock %}
{% block body %}
<h1>예약하기</h1>
  <form>
    <p><label>주문 갯수 : </label><input type="number"></p>
    <p><label>주문 갯수 : </label><input type="number"></p>
    <p><label>주문 갯수 : </label><input type="number"></p>
    <p><label>주문 갯수 : </label><input type="date" name="o_reg_dt"></p>
    <p><label>주문 갯수 : </label><input type="date" name="o_pickup_dt"></p>
    <p><label>주문 갯수 : </label><input type="number" name="o_cnt"></p>
    <p><button type="submit">전송</button></p>
  </form>
{% endblock %}