{% extends 'layout.html' %}

{% block body %}
<h1>dddd</h1>
<form method="post" action="/product" enctype="multipart/form-data">
    <p><label>이름 : </label><input name="p_name" placeholder="이름을 꼭 입력해주세요!"></p>
<!--    <p><label>가격 : </label><input type="number" name="p_price" placeholder="가격을 꼭 입력해주세요!"></p>-->
    <p><label>가격 : </label><input name="p_price" placeholder="가격을 꼭 입력해주세요!"></p>
    <p><label>설명 : </label><textarea cols="100" rows="20" name="p_desc"></textarea></p>
    <p><label>가게 : </label><select name="s_no">
        {% for s in store %}
        <option value="{{s.s_no}}">
            {{s.s_name}}
        </option>
        {% endfor %}
    </select></p>
    <p><label>이미지 : </label><input type="file" name="p_img"></p>
    <p><button type="reset">취소</button><button type="submit">등록</button></p>
</form>
<!--<div>-->
<!--    <p>상세페이지</p>-->
<!--</div>-->
    {% endblock %}