{% extends 'layout.html' %}
{% block style %}
<style>
   table{
       border-collapse: collapse;
       text-align: center;
   }
    tr{
        background-color: whitesmoke;
    }
    th, td{
        border: 2px solid steelblue;
    }
</style>
{% endblock %}
{% block body %}
<h1>제품</h1>
<table>
    <tr class="item">
        <th>제품번호</th>
        <th>가게이름</th>
        <th>제품이름</th>
        <th>가격</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    {% for p in products %}
    <tr class="item">
        <td>{{p.p_no}}</td>
        <td>{{p.s_no_store.s_name}}</td>
        <td>{{p.p_name}}</td>
        <td>{{p.p_price}}원</td>
        <td>
            <button><a href="/product/modify/{{p.p_no}}">수정</a></button>
        </td>
        <td>
            <button>삭제</button>
        </td>
    </tr>
    {% endfor %}
</table>
<div class='text-center'>
    <ul class="pagination">
        {% if (pagingData.totalPages != 0) { %}
        <div class="" style="text-align:center;">
            <ul class="pagination">
                <li {%if(pagingData.currentPage == 1){%} class="disabled" {%}else{%}class="waves-effect" {%}%} >
                    <a {%if(pagingData.currentPage > 1){%} href="?currentPage={%=pagingData.currentPage-1%}" {%}%}>
                        <i class="material-icons">prev</i>
                    </a>
                </li>
                {% for(var i=pagingData.pnStart; i<=pagingData.pnEnd; i++){ %} <li {%if(i===pagingData.currentPage){%} class="active"
                                                                                   {%}%}><a href="?currentPage={%=i%}">{%=i%}</a></li>
                {% } %}
                <li {%if(pagingData.currentPage == pagingData.totalPages){%} class="disabled" {%}else{%} class="waves-effect" {%}%}>
                    <a {%if(pagingData.currentPage < pagingData.totalPages){%} href="?currentPage={%=pagingData.currentPage+1%}" {%}%} class="waves-effect">
                    <i class="material-icons">next</i>
                    </a>
                </li>
            </ul>
        </div>
        {% } %}

    </ul>
</div>
<!--<div class='text-center'>-->
<!--    <ul class="pagination">-->
<!--        {% if (pagingData.totalPages != 0) { %}-->
<!--        <div class="" style="text-align:center;">-->
<!--            <ul class="pagination">-->
<!--                <li {%if(pagingData.currentPage== 1){%} class="disabled" {%}else{%}class="waves-effect" {%}%}>-->
<!--                    <a {%if(pagingData.currentPage> 1){%} href="?currentPage={%=pagingData.currentPage-1%}" {%}%}>-->
<!--                        <i class="material-icons">prev</i>-->
<!--                    </a>-->
<!--                </li>-->
<!--                {% for(var i=pagingData.pnStart; i<=pagingData.pnEnd; i++){ %}-->
<!--                <li {%if(i===pagingData.currentPage){%} class="active"-->
<!--                    {%}%}>-->
<!--                    <a href="?currentPage={%=i%}">{%=i%}</a>-->
<!--                </li>-->
<!--                {% } %}-->
<!--                <li {%if(pagingData.currentPage == pagingData.totalPages){%} class="disabled" {%}else{%} class="waves-effect" {%}%}>-->
<!--                    <a {%if(pagingData.currentPage < pagingData.totalPages){%} href="?currentPage={%=pagingData.currentPage+1%}" {%}%} class="waves-effect">-->
<!--                    <i class="material-icons">next</i>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        {% } %}-->
<!--    </ul>-->
<!--</div>-->

<div><button><a href="/product/add">추가</a></button></div>
{% endblock %}