{% extends 'layout.html' %}

{% block style %}

{% endblock %}

{% block body %}

<div id="qna-border">
    <h1>QNA:묻고답하기</h1>
    <p>빵수니 브래두를 찾아주셔서 감사합니다.<br>
        이용중 궁금한 사항을 문의주시면 친절한 답변을 드립니다.</p>
        <h1>list {{str}}</h1>
    <form id ="board_form" action="/board" method="post">
    <div class="qna-list">
        <ul class="qna-title">
            <li>No</li>
            <li>작성자ID</li>
            <li>제목</li>
<!--            <li>내용</li>-->
            <li>등록일</li>
            <li>조회수</li>
        </ul>
        {% for i in board.rows %}
        <div class="qna-con">
            <div>
                <a href = "/board/view/{{i.b_no}}">
                <ul class="qna-list-con">
                <li>{{i.b_no}}</li>
                <li>{{i.u_id}}</li>
                <li>{{i.b_title}}</li>
<!--<!-             <li>{{i.b_content}}</li>-->
                <li>{{i.b_reg_dt}}</li>
                <li>{{i.b_cnt}}</li>
            </ul>
                </a>
            </div>
        </div>

        {% endfor %}

    </div>
    </form>
</div>
<br>
<!-- 아래부터 페이지 네비게이션-->
<div>
    <ul calss="board-paging-num">
        {% set nowPage = (currentPage/5) + 1 %}
        {% if num[0] > 5 %}
        <li><a href="?page={{(checkNum-4)}}">prev</a></li>
        {% endif %}
        {% for n in num %}
        <li><a href="?page={{n}}">{{n}}</a></li>
        {% endfor %}
        {% if currentPage+5 < board.count %}
        {% if num.length == 5 %}
        <li><a href="?page={{checkNum+6}}">next</a></li>
        {% endif %}
        {% endif %}
    </ul>
</div>
<div>
    <p class="qna-paging-align"> currentPage : {{currentPage+10}}</p>
    <p class="qna-paging-align"> board.count : {{board.count}}</p>
</div>
<button class="qna-write-btn"><a href="/board/write">글쓰기</a></button>

{% endblock %}