{% extends 'layout.html' %}
{% block style %}


{% endblock %}
{% block body %}
<div id="qna-border">
    <h1>QNA:묻고답하기</h1>
    <p>빵수니 브래두를 찾아주셔서 감사합니다.<br>
        이용중 궁금한 사항을 문의주시면 친절한 답변을 드립니다.</p>
        <h1>list {{str}}</h1>
    <form id ="board_form" action="/board" method="post">
    <div class="qna-list">
        <ul class="qna-title">
            <li>No</li>
            <li>작성자ID</li>
            <li>제목</li>
<!--            <li>내용</li>-->
            <li>등록일</li>
            <li>조회수</li>
        </ul>
        {% for i in list %}
        <div class="qna-con">
            <div>
                <a href = "/board/boardDetail/{{i.b_no}}">
                <ul class="qna-list-con">
                <li>{{i.b_no}}</li>
                <li>{{i.u_id}}</li>
                <li>{{i.b_title}}</li>
<!--<!-             <li>{{i.b_content}}</li>-->
                <li>{{i.b_reg_dt}}</li>
                <li>{{i.b_cnt}}</li>
            </ul>
                </a>
            </div>

<!--            <div class="qnabox">-->
<!--               {{i.b_content}}-->
<!--                <br>-->
<!--            </div>-->
<!--            <div class="qnabox">-->
<!--                {{i.b_content}}-->
<!--                <br>-->
<!--                <button><a href="/board/comments/{{i.b_no}}">댓글달기(comments)</a></button>-->
<!--           <form id = "comments-form" action="/board" method="post">-->
<!--               <div class="comment">-->
<!--                   <label for="comment-text">댓글</label>-->
<!--                   <input id="comment-text" type="textarea" name="">-->
<!--               </div>-->
<!--           </form>-->
<!--            </div>-->

        </div>

        {% endfor %}

    </div>
    </form>
</div>
<button><a href="/board/write">글쓰기</a></button>

<!--2023.04.23-메뉴 펼치고 접기-->
<!--<script>-->
<!--    let qnaConBox = document.querySelectorAll('.qna-list-con');-->
<!--    qnaConBox.forEach((target) => {-->
<!--        target.addEventListener('click', function (){-->
<!--            let flag = this.parentNode.lastElementChild.style.display;-->
<!--            if (flag === 'black') {-->
<!--                this.parentNode.lastElementChild.style.display = 'none';-->
<!--            } else {-->
<!--                this.parentNode.lastElementChild.style.display = 'black';-->
<!--            }-->
<!--        })-->
<!--    })-->

<!--    let btn = document.querySelectorAll('.qna-list-con');-->

<!--    btn.forEach((target)=>{-->
<!--        target.addEventListener('click', function () {-->
<!--            let flag = this.parentNode.lastElementChild.style.display;-->
<!--            if(flag === 'block'){-->
<!--                this.parentNode.lastElementChild.style.display = 'none';-->
<!--            }else{-->
<!--                this.parentNode.lastElementChild.style.display = 'block';-->
<!--            }-->
<!--        })-->
<!--    })-->
<!--</script>-->

{% endblock %}