{% extends 'layout.html' %}

{% block body %}
<div id="qna-comments-bg">
  <form id ="board_form" action="/board/comments" method="post">
<!--    <p>{{bNo}} 게시판 번호</p>-->
    게시판번호 <input name="b_no" value="{{bNo}}" readonly size="3">
    <div class="input-group">
      <!--        로그인 구현 후 u_id value에 {{user.u_id}}}-->
        <label>게시판타입 </label>
      <input name="bt_no" value="2" size="3"><br>
        <h1>댓글(comments)전송하기</h1><br>
        <br><br>
        <label>작&nbsp&nbsp&nbsp성&nbsp&nbsp&nbsp자 </label><input name="u_id" value="hotdog"><br><br>
<!--      <input name="u_id" value="{{uid}}">-->
    </div>
    <div class="input-group">
      <label>내&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp용</label>
<!--      <input name="c_content" class="b_content">-->
        <textarea cols="50" rows="5" name="c_content" class="b_content"></textarea>
    </div>
    <br>
    <p><button type="submit" class="comments-btn">댓글(comments)전송하기</button></p>
      <br><br><br>

  </form>
</div>
{% endblock %}