{% extends 'layout.html' %}
{% block style %}

{% endblock %}
{% block body %}

<!--<form id ="board_form" action="/board" method="post">-->

<h3>QnA 질문 제목</h3>
<div class="qna-boardDetail-con">
    <li>{{boards.b_title}}</li>
</div>

<h3>QnA 질문 내용</h3>
<div class="qna-boardDetail-con">
    <li>{{boards.b_content}}</li>
</div>
</form>

<div>
    <h1>댓글 list</h1>
    {% for c in commentList %}
    <div class="qna-comment-list"><p>{{c.c_content}}</p></div>
    {% endfor %}
</div><br>

<button id="delete" value="{{i.b_no}}"><a href="/qna/delete/{{boards.b_no}}">게시물삭제</a></button>
<button id="modify" value="{{i.b_no}}"><a href="/qna/modify/{{boards.b_no}}">게시물수정</a></button>
<br><br>
<!--해당 페이지 게시물 삭제 게시판메인으로 돌아가기-->
<!--<script>-->

<!--    // document.getElementById("li_*").addEventListener('click',(event)=>{-->
<!--    //     alert("/board/delete/${event.target.value}");-->
<!--    //    location.href="/board/delete/${event.target.value}";-->
<!--    // });-->

<!--    document.getElementById("delete").addEventListener('click', (event)=> {-->
<!--        // alert(`/board/delete/${event.target.value}`)-->

<!--        let b_no = event.target.value;-->

<!--        let url = `/board/view/${b_no}`;-->
<!--        // alert(url);-->

<!--        axios({-->
<!--            method: 'post', // 통신할 방식-->
<!--            url: url, // 통신할 웹문서-->
<!--            data: { // 인자로 보낼 데이터-->
<!--                b_no: b_no,-->
<!--            },-->
<!--            responseType: 'json',-->
<!--            responseEncoding: 'utf-8'-->
<!--        }).then((res) => {-->
<!--            if (res.data.msg === "삭제완료") {-->
<!--                // confirm("게시물을 삭제 했습니다.");-->
<!--                location.href = "/board";-->
<!--            }-->
<!--        }).catch((error) => {-->

<!--            console.error(error);-->

<!--        })-->
<!--    });-->

<!--</script>-->

<!--댓글달기 폼 시작 : 테스트 -->
<div id="qna-comments-bg">
    <form id="board_form" action="/qna/commentsview/{{boards.b_no}}" method="post"><br><br>
        <!--    <p>{{bNo}} 게시판 번호</p>-->
        게시판번호<input name="b_no" value="{{boards.b_no}}" readonly size="3">
        <div class="input-group">
            <!--        로그인 구현 후 u_id value에 {{user.u_id}}}-->
            <label>게시판타입 </label>
            <input name="bt_no" value="2" size="3"><br>
            <h1>댓글(comments)전송하기</h1><br><br><br>
            <label>작성자 </label>
<!--            <input name="u_id" value="hotdog">-->
            <input name="u_id" value="{{user.u_id}}" readonly><br><br>
        </div>
        <div class="input-group">
            <label>내용</label><br>
            <textarea cols="50" rows="5" name="c_content" class="b_content"></textarea>
        </div><br>
        <p>
            <button type="submit" class="comments-btn">댓글(comments)전송하기</button>
        </p><br><br><br>
    </form>
</div>
<!--댓글달기 폼 끝 : 테스트 -->
<button class="qna-home-btn">
    <a href="/qna/">QNA게시판홈</a>
</button>
<!--<button type="submit" class="comments-btn">전체내용삭제</button>-->

{% endblock %}