{% extends 'layout.html' %}
{% block style %}
<style>
    table{
        border-collapse: collapse;
    }

    .list{
        background-color: #e2c2f6;
    }

    .list tr{
        width: 1000px;
    }

    .list td{
        border: 2px solid white;
        text-align: center;
        padding: 0;
    }

    .list td:nth-child(3){
        text-align: left;
    }

    .list button{
        color: whitesmoke;
        background-color: mediumpurple;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}
{% block body %}
<h3>제목</h3>
<div class="qna-boardDetail-con">
    <li>{{boards.b_title}}</li>
</div>
<h3>내용</h3>
<div class="qna-boardDetail-con">
    <li>{{boards.b_content}}</li>
</div>
{% if bt_no == 2 %}
<div>
    <h1>댓글 list</h1>
    <table>
        <thead>
        <tr>
            <td>번호</td>
            <td>작성자</td>
            <td>내용</td>
            <td>작성시간</td>
            <td>수정시간</td>
            <td>수정</td>
            <td>삭제</td>
        </tr>
        </thead>
        <tbody class="list"></tbody>
    </table>
    <ul class="pageContent"></ul>
</div><br>
{% endif %}
{% if (boards.u_no === user.u_no) or (user.u_grade === '관리자') %}
<button id="delete" value="{{i.b_no}}"><a href="/board/delete/{{boards.b_no}}?bt_no={{bt_no}}">게시물삭제</a></button>
<button id="modify" value="{{i.b_no}}"><a href="/board/modify/{{boards.b_no}}">게시물수정</a></button>
{% endif %}
<br><br>
{% if user %}
{% if bt_no == 2 %}
<div id="qna-comments-bg">
        <input name="b_no" value="{{boards.b_no}}" readonly size="3" type="hidden">
        <input name="c_no" value="" readonly size="3" type="hidden">
        <div class="input-group">
            <input name="bt_no" value="{{bt_no}}" size="3" type="hidden"><br>
            <h1 class="commentFormTitle">댓글쓰기</h1><br>
            <label>작성자 </label><span>{{user.u_id}}</span>
            <input type="hidden" name="u_no" value="{{user.u_no}}"><br><br>
        </div>
        <div class="input-group">
            <label>내용</label><br>
            <textarea cols="50" rows="5" name="c_content" class="b_content"></textarea>
        </div>
        <br>
        <p><button class="comments-btn" id="commentBtn">댓글저장</button></p>
        <br><br><br>
</div>
{% endif %}
{% endif %}
<button class="qna-home-btn">
    <div onclick="history.back()">뒤로가기</div>
</button>
{% endblock %}
{% block script %}
<script>
    const list = document.querySelector('.list');
    const pageContent = document.querySelector('.pageContent');
    const commentBtn = document.querySelector('#commentBtn');
    if(commentBtn){
        commentBtn.addEventListener('click', function () {
            const commentFormTitle = document.querySelector('.commentFormTitle');
            if (commentFormTitle.textContent === '댓글쓰기') {
                addComment();
            } else {
                const cNo = document.querySelector('input[name="c_no"]').value;
                const cContent = document.querySelector('.b_content').value;
                modifyComment(cNo,cContent);
                commentFormTitle.innerHTML='댓글쓰기';
            }
        });
    }
    function listRender(page, keyword, type) { // 게시물 리스트를 출력하는 function
        list.innerHTML = '';
        const currentPage = (page ? page : 1);
        return axios
            .get(`/comment/selectList/{{boards.b_no}}?page=${currentPage}`)
            .then((response) => {
                console.log('result : ', response.data);
                pageContent.innerHTML='';
                for (let comment of response.data.comments.rows) {
                    const regDate = new Date(comment.c_reg_dt).toLocaleString(); // date 값을 보기 좋게 format하기 위함
                    let modDate = null;
                    if(comment.c_mod_dt){
                        modDate = new Date(comment.c_mod_dt).toLocaleString();
                    }
                    const qna_con = document.createElement('tr');
                    qna_con.className = 'qna-con';
                    if(comment.u_no_user.u_id === ('{{user.u_id}}')){
                        qna_con.innerHTML = `<td>${comment.c_no}</td>
                                         <td>${comment.u_no_user.u_id}</td>
                                         <td class="commentContent">${comment.c_content}</td>
                                         <td>${regDate}</td>
                                         <td>${modDate}</td>
                                         <td><button onclick="modifyCommentForm(${comment.c_no})">수정</button></td>
                                         <td><button onclick="deleteComment(${comment.c_no})">삭제</button></td>`;
                    }else{
                        qna_con.innerHTML = `<td>${comment.c_no}</td>
                                         <td>${comment.u_no_user.u_id}</td>
                                         <td>${comment.c_content}</td>
                                         <td>${regDate}</td>
                                         <td>${modDate}</td>
                                         <td>null</td>
                                         <td>null</td>`;
                    }
                    list.append(qna_con);
                }
                pageNavigation(response.data);
            })
            .catch((err) => {
                console.error(err);
            })
    }
    function pageNavigation(response){
        const currentPage = Number(response.currentPage);
        const num = response.num;
        if(response.num[0]> 10){
            const prev = document.createElement('li');
            prev.setAttribute('data-page',`${(response.checkNum-9)}`);
            prev.className = 'page';
            prev.innerHTML = 'prev';
            pageContent.append(prev);
        }
        for(let no of num){
            const pageNav = document.createElement('li');
            pageNav.setAttribute('data-page', `${no}`);
            pageNav.setAttribute('onclick', `listRender(${no})`);
            pageNav.className = 'page';
            pageNav.innerHTML=`${Number(no)}`;
            pageContent.append(pageNav);
        }
        if((currentPage+10 < response.comments.count)&& (num.length == 10)){
            const next =document.createElement('li');
            next.setAttribute('data-page',`${(response.checkNum+11)}`);
            next.className = 'page';
            next.innerHTML = 'prev';
            pageContent.append(next);
        }
    }
    const addComment=async ()=> {
        const b_no = document.querySelector('input[name="b_no"]').value;
        const u_no = document.querySelector('input[name="u_no"]').value;
        const c_content = document.querySelector('textarea[name="c_content"]').value;
        console.log(`b_no : ${b_no} / u_no: ${u_no} / c_content : ${c_content}`);
        axios.post('/comment/add2',{b_no, u_no, c_content})
            .then((response)=>{
                const commentContent = document.querySelector('.b_content');
                commentContent.value = '';
                listRender();
            })
            .catch((err)=>{
                console.error(err);
            })
    }
    const modifyCommentForm= async (no)=> {
        await axios.get(`/comment/selectOne/${no}`)
            .then((response)=>{
                const commentFormTitle = document.querySelector('.commentFormTitle');
                const commentContent = document.querySelector('.b_content')
                const cNo = document.querySelector('input[name="c_no"]');
                commentFormTitle.innerHTML = '댓글수정';
                commentContent.value = `${response.data.comment.c_content}`;
                cNo.value = `${no}`;
            })
            .catch((err)=>{
                console.error(err);
            })
    }
    const modifyComment = async (c_no,c_content)=>{
        await axios.post(`/comment/modify`,{c_no,c_content})
            .then((response)=>{
                listRender();
            })
            .catch((err)=>{
                console.error(err);
            })
    }
    const deleteComment = async (no)=> {
        await axios.post(`/admin/comment/delete`,{c_no:no})
            .then((response)=>{
                console.log(response.data);
            })
            .catch((err)=>{
                console.log(err);
            })
        listRender();
    }

    listRender();

</script>
{% endblock %}