{% extends 'layout.html' %}
{% block style %}
{% endblock %}
{% block body %}
<h3>QnA 질문 제목</h3>
<div class="qna-boardDetail-con">
    <li>{{boards.b_title}}</li>
</div>
<h3>QnA 질문 내용</h3>
<div class="qna-boardDetail-con">
    <li>{{boards.b_content}}</li>
</div>
<div>
    <h1>댓글 list</h1>
    <div class="qna-comment-list"></div>
    <ul class="pageContent"></ul>
</div><br>
{% if (boards.u_no === user.u_no) or (user.u_grade === '관리자') %}
<button id="delete" value="{{i.b_no}}"><a href="/board/delete/{{boards.b_no}}">게시물삭제</a></button>
<button id="modify" value="{{i.b_no}}"><a href="/board/modify/{{boards.b_no}}">게시물수정</a></button>
{% endif %}
<br><br>
<!--해당 페이지 게시물 삭제 게시판메인으로 돌아가기-->
<!--댓글달기 폼 시작 : 테스트 -->
<div id="qna-comments-bg">
    {% if user %}
    <form id="board_form" action="/board/commentsview/{{boards.b_no}}" method="post"><br><br>
        <!--    <p>{{bNo}} 게시판 번호</p>-->
        게시판번호<input name="b_no" value="{{boards.b_no}}" readonly size="3">
        <div class="input-group">
            <!--        로그인 구현 후 u_id value에 {{user.u_id}}}-->
            <label>게시판타입 </label>
            <input name="bt_no" value="2" size="3"><br>
            <h1>댓글(comments)전송하기</h1><br><br><br>
            <label>작성자 </label><span>{{user.u_id}}</span>
            <input type="hidden" name="u_no" value="{{user.u_no}}"><br><br>
        </div>
        <div class="input-group">
            <label>내용</label><br>
            <textarea cols="50" rows="5" name="c_content" class="b_content"></textarea>
        </div><br>
        <p>
            <button type="submit" class="comments-btn">댓글(comments)전송하기</button>
        </p><br><br><br>
    </form>
    {% endif %}
</div>
<button class="qna-home-btn">
    <div onclick="history.back()">QNA게시판홈</div>
</button>
<p>{{user.u_no}}</p>
<p>{{user.u_id}}</p>
<p>{{user.u_grade}}</p>
{% endblock %}
{% block script %}
<script>
    const list = document.querySelector('.qna-comment-list');
    const pageContent = document.querySelector('.pageContent');
    function listRender(page, keyword, type) { // 게시물 리스트를 출력하는 function
        list.innerHTML = '';
        const currentPage = (page ? page : 1);
        return axios
            .get(`/comment/selectList/{{boards.b_no}}?page=${currentPage}`)
            .then((response) => {
                console.log('result : ', response.data);
                pageContent.innerHTML='';
                for (let comment of response.data.comments.rows) {
                    console.log('게시글 번호 : ', comment.c_no);
                    // const regDate = new Date(store.b_reg_dt).toLocaleDateString(); // date 값을 보기 좋게 format하기 위함
                    const qna_con = document.createElement('div');
                    qna_con.className = 'qna-con';
                    if(comment.u_no_user.u_id === ('{{user.u_id}}')){
                        qna_con.innerHTML = `<p><span>댓글번호 : ${comment.c_no}</span>
                                         <span>댓글글쓴이 : ${comment.u_no_user.u_id}</span>
                                         <span>댓글내용 : ${comment.c_content}</span>
                                         <button>수정</button><button>삭제</button></p>`;
                    }else{

                        qna_con.innerHTML = `<p><span>댓글번호 : ${comment.c_no}</span>
                                         <span>댓글글쓴이 : ${comment.u_no_user.u_id}</span>
                                         <span>댓글내용 : ${comment.c_content}</span></p>`;
                    }
                    // qna_con.innerHTML = `<p><span>댓글번호 : ${comment.c_no}</span>
                    //                      <span>댓글글쓴이 : ${comment.u_no_user.u_id}</span>
                    //                      <span>댓글내용 : ${comment.c_content}</span></p>`;
                    list.append(qna_con);
                }
                pageNavigation(response.data);
            })
            .catch((err) => {
                // pageContent.innerHTML='검색결과가 없어요';
                console.error(err);
            })
    }
    function pageNavigation(response){
        const currentPage = Number(response.currentPage);
        const num = response.num;
        console.log('페이지네이션 확인 :', num);
        if(response.num[0]> 10){
            const prev = document.createElement('li');
            prev.setAttribute('data-page',`${(response.checkNum-9)}`);
            prev.className = 'page';
            prev.innerHTML = 'prev';
            pageContent.append(prev);
        }
        for(let no of num){
            const pageNav = document.createElement('li');
            pageNav.setAttribute('data-page', `${no}`);
            pageNav.setAttribute('onclick', `listRender(${no})`);
            pageNav.className = 'page';
            pageNav.innerHTML=`${Number(no)}`;
            pageContent.append(pageNav);
        }
        if((currentPage+10 < response.comments.count)&& (num.length == 10)){
            const next =document.createElement('li');
            next.setAttribute('data-page',`${(response.checkNum+11)}`);
            next.className = 'page';
            next.innerHTML = 'prev';
            pageContent.append(next);
        }
    }
    listRender();
</script>
{% endblock %}